.list {
  padding: 0 14rem;
  font-family: "Baloo 2", cursive;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
  }

  &__grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  &__empty {
    margin-top: 1rem;
    text-align: center;
    color: #666;
  }
}
