.form-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.form-actions button {
  min-width: 160px;
  font-size: 16px;
  padding: 8px 20px;
}

.login-card {
  height: 500px;
  width: 500px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  background-color: #fff;

  .image-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    img {
      height: 130px;
      width: 160px;
    }
  }

  .full-width {
    width: 100%;

    ::ng-deep .mat-mdc-form-field {
      width: 100%;
    }

    ::ng-deep .mdc-text-field--outlined {
      border-radius: 100px !important;
      height: 50px !important;
      padding: 0 12px;
    }

    ::ng-deep .mdc-text-field__input {
      padding: 2px 0 !important;
      font-size: 14px;
      height: 100% !important;
      box-sizing: border-box;
    }
  }

  .full-width:not(:last-child) {
    margin-bottom: 16px;
  }
}
