<div class = "search-box">

        <input type="text" 
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Buscar Animal..."
        class="search-input"/>

        <ul class="suggestions" [hidden]="showSuggestions">
                @if(filteredAnimals.length==0){
                        <li>
                                <strong> Animal não encontrado</strong>
                        </li>
                } @else{
                        @for (animal of filteredAnimals; track animal.id){
                                <li>
                                        <span [innerHTML]="highlightMatch(animal.name, searchQuery)"></span> -
                                        <span [innerHTML]="highlightMatch(animal.city, searchQuery)"></span> -
                                        <span [innerHTML]="highlightMatch(animal.age.toString(), searchQuery)"></span> -

                                </li>
                        }
                }
        </ul>
</div>
