<footer class="footer">
  <section class="footer__info">
    <section class="footer_info__desc">
      <h3>Adotau!</h3>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem
        dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis
        conhecidiss, que um alcoolatra anonimis. Suco de cevadiss deixa as
        pessoas mais interessantis. Bota 1 metro de cachacis aí pra viagem!
      </p>
    </section>
    <nav class="footer__info__nav">
      <h3>Navegação</h3>
      <section class="footer__info__nav__links">
        <a routerLink="/">Home</a>
        <a routerLink="/animais">Animais</a>
        <a routerLink="/animais/cachorros">Cachorros</a>
        <a routerLink="/animais/gatos">Gatos</a>
      </section>
    </nav>

    <section class="footer__info__contact">
      <h3>Contato</h3>
      <section class="footer__info__contact__items">
        <section>
          <mat-icon>location_on</mat-icon>
          <span>Rua das Flores, 123 <br />Centro, São Paulo - SP</span>
        </section>
        <section>
          <mat-icon>call</mat-icon>
          <span>(11) 3456-7890</span>
        </section>
        <section>
          <mat-icon>mail</mat-icon>
          <span>contatos&#64;aborarte.com.br</span>
        </section>
      </section>
    </section>

    <section class="footer__info__schedule">
      <h3>Horário de Funcionamento</h3>
      <section class="footer__info__schedule__items">
        <section>
          <mat-icon>schedule</mat-icon>
          <span>Segunda - Sexta <br />11:00 - 23:00</span>
        </section>
        <section>
          <mat-icon>schedule</mat-icon>
          <span>Sábado - Domingo <br />12:00 - 00:00</span>
        </section>
      </section>
    </section>
  </section>
  <section class="footer__privacy">
    <span>© 2025 Adotau! Todos os direitos reservados.</span>

    <section class="footer__privacy__terms">
      <a href="">Política de Privacidade</a>
      <a href="">Termos de Uso</a>
    </section>
  </section>
</footer>
